<div class="flex flex-col gap-4">
    <div class="flex items-center">
        <input type="checkbox" id="custom-checkbox-1" class="custom-checkbox" checked>
        <label for="custom-checkbox-1" class="ml-3 block text-sm font-medium text-gray-700">Accept terms and conditions</label>
    </div>
    <div class="flex items-center">
        <input type="checkbox" id="custom-checkbox-2" class="custom-checkbox">
        <label for="custom-checkbox-2" class="ml-3 block text-sm font-medium text-gray-700">Subscribe to newsletter</label>
    </div>
</div>
