<div class="w-full overflow-x-auto">
    <table class="w-full">
      <caption>Monthly Sales Data</caption>
      <thead>
        <tr>
          <th scope="col" data-sortable>Month</th>
          <th scope="col" data-sortable>Sales</th>
          <th scope="col" data-sortable>Growth</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">January</th>
          <td>$50,000</td>
          <td>+5.0%</td>
        </tr>
        <tr>
          <th scope="row">February</th>
          <td>$52,500</td>
          <td>+5.0%</td>
        </tr>
        <tr>
          <th scope="row">March</th>
          <td>$48,000</td>
          <td>-8.6%</td>
        </tr>
        <tr>
          <th scope="row">April</th>
          <td>$55,000</td>
          <td>+14.6%</td>
        </tr>
      </tbody>
    </table>
</div>
