<div class="flex items-center space-x-4">
    <span class="font-medium text-gray-700">Enable Notifications</span>
    <button id="toggle-switch-btn" type="button" role="switch" aria-checked="false" class="toggle-switch flex-shrink-0 group relative rounded-full inline-flex items-center justify-center h-5 w-10 cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <span class="sr-only">Enable Notifications</span>
      <span aria-hidden="true" class="toggle-thumb pointer-events-none absolute h-4 w-4 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200"></span>
    </button>
</div>
