<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <ol>
    <li class="breadcrumb-item">
      <a href="#" class="breadcrumb-link">
        <i data-lucide="home" class="w-4 h-4 mr-2"></i>
        Home
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="#" class="breadcrumb-link">
        Projects
      </a>
    </li>
    <li class="breadcrumb-item">
      <span class="breadcrumb-current" aria-current="page">
        Component Playground
      </span>
    </li>
  </ol>
</nav>
